/*----------------
	  Reset
-----------------*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,
big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,
dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,
td{margin:0;padding:0;border:0;outline:0;font-size:100%;background:transparent}
body{line-height:1}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
:focus{outline:0}
ins{text-decoration:none}
del{text-decoration:line-through}
table{border-collapse:collapse;border-spacing:0}
li{list-style-type: none;}
html, body{
  height: 100%;
  width: 100%;
  margin: 0;
}

/*Couleurs*/
@pourpre : #7b0041;
@presqueTurquoise : #89c4b8;
@blanc : #ffffff;
@grisTresClaire : #f0f0f0;
@grisFondConcept: #d8e0da;
@rougeUnPeuBordeaux: #ca1919;
@presqueMauve : #a20630;


/*Font*/

.writingH1Concept(){
  font-family: 'Pacifico', cursive;
}

/*----------------
	  Style
-----------------*/

body{
  background: @blanc;
}

/*-------Navbar--------*/
header, .header2 {
  height: 100%;
  background:url('../images/header_bg.jpg');
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  -webkit-background-size: cover; /* pour Chrome et Safari */
  -moz-background-size: cover; /* pour Firefox */
  -o-background-size: cover; /* pour Opera*/
    .cart {
      position: relative;
      background-color: @presqueTurquoise;
        #top-header {
          padding:15px 0;
          .glyphicon {
            font-size: 25px;
            color: #A20630;
          }
          a {
            color: @pourpre;
            font-size: 15px;
            text-decoration: none;
          }
        }
    
  }
  .nav{
    .menu-item{
      margin-top: 50px;
      width: 33.3%;
      display: block;
      float: left !important;
      a{
        text-align: center;
        color: @pourpre;
        text-transform: uppercase;
        font-size: 20px;
      }
    }
  }
  .welcome{
    margin-top: 225px;
    text-align: justify;
    color: @rougeUnPeuBordeaux;
  }
}

.header2 {
  height: 50%;
}

.homepage{
  margin:0;
  .concept{
    width: 100%;
    background: @grisFondConcept;
    h1{
      text-align: center;
      color: @presqueMauve;
      margin-top: 65px;
      font-size: 100px;
      .writingH1Concept();
      text-transform: none;
      padding-bottom: 20px;
    }
    img{
      padding-bottom: 20%;
    }
    p{
      text-align: justify;
      color: @presqueTurquoise;
      margin-top: 75px;
      padding-bottom: 100px;
    }
  }
 .patissiere{
   background:url('../images/pat_bg.png');
   background-attachment: fixed;
   background-position: center center;
   background-size: cover;
   -webkit-background-size: cover; /* pour Chrome et Safari */
   -moz-background-size: cover; /* pour Firefox */
   -o-background-size: cover; /* pour Opera*/
   padding-bottom: 100px;
   .patOne{
     color: @presqueMauve;
     font-size: 60px;
     text-align: center;
     margin-bottom: 0;
     padding-bottom: 0;
   }
   .patTwo{
     color: @presqueMauve;
     font-size: 90px;
     text-align: center;
     margin-top: 0;
     strong{
       font-size: 110px;
     }
   }
   img{
     width: 150px;
     height: 200px;
     display: block;
     margin-left: auto;
     margin-right: auto
   }
 }
}

footer{
  height: 460px;
  background: @presqueTurquoise;
  .containerFooter{
    width: 100%;
    height: 320px;
    background: @grisTresClaire;
    .nav{
      .menu-item{
        margin-top: 50px;
        width: 25%;
        display: block;
        float: left !important;
        a{
          text-align: center;
          color: @pourpre;
          text-transform: uppercase;
          font-size: 12px;
        }
      }
    }
  }
}


/* woocommerce */
#content{
  background-color: #dce5e0;
  .woocommerce-result-count {
    display: none;
  }
  .woocommerce-ordering {
    text-align: center;
    padding: 30px 0;
  }
  h1{
    font-size:30px;
    text-transform: uppercase;
    font-weight: lighter;
    color:#000000;
    text-align: center;
    position:relative;
    clear: both;
    .writingH1Concept();
    color: @presqueMauve;
    .woocommerce-result-count {
      margin-left: 20%;
    }
  }
  
}
.products {
  text-align: center;
  padding-bottom: 50px;
  li {
    display: inline-block;
    padding: 10px 20px;
    &:first-child {
      margin-left:30px;
    }
    &:last-child {
      margin-right: 30px;
    }
    .price {
      float: left;
      width: 100%;
      margin: auto;
      padding: 8px 0;
    }
  }
  h3 {
    padding-top:8px;
    text-align: center;
    color: @presqueMauve;
  p {
      margin-left:20%;
    }

    }
      img{
        border-radius: 90px;
      }
}