/*----------------
	  Reset
-----------------*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,
big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,
dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,
td{margin:0;padding:0;border:0;outline:0;font-size:100%;background:transparent}
body{line-height:1}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
:focus{outline:0}
ins{text-decoration:none}
del{text-decoration:line-through}
table{border-collapse:collapse;border-spacing:0}
li{list-style-type: none;}
html, body{
  height: 100%;
  width: 100%;
  margin: 0;
}

/*Couleurs*/
@pourpre : #7b0041;
@presqueTurquoise : #89c4b8;
@blanc : #ffffff;
@grisTresClaire : #f0f0f0;
@grisFondConcept: #d8e0da;
@rougeUnPeuBordeaux: #ca1919;
@presqueMauve : #a20630;
@autreSorteGris : #dce5e0;


/*Font*/

.writingH1Concept(){
  font-family: 'Pacifico', cursive;
}

/*----------------
	  Style
-----------------*/

body{
  background: @blanc;
}

/*-------Navbar--------*/
header, .header2 {
  height: 100%;
  background:url('../images/header_bg.jpg');
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  -webkit-background-size: cover; /* pour Chrome et Safari */
  -moz-background-size: cover; /* pour Firefox */
  -o-background-size: cover; /* pour Opera*/
    .cart {
      position: relative;
      background-color: @presqueTurquoise;
        #top-header {
          padding:15px 0;
          .glyphicon {
            font-size: 25px;
            color: #A20630;
          }
          a {
            color: @pourpre;
            font-size: 15px;
            text-decoration: none;
          }
        }
    
  }
  .nav{
    .menu-item{
      margin-top: 50px;
      width: 33.3%;
      display: block;
      float: left !important;
      a{
        text-align: center;
        color: @pourpre;
        text-transform: uppercase;
        font-size: 20px;
      }
    }
  }
  .welcome{
    margin-top: 225px;
    text-align: justify;
    color: @rougeUnPeuBordeaux;
  }
}

.header2 {
  height: 50%;
}

.homepage{
  margin:0;
  .concept{
    width: 100%;
    background: @grisFondConcept;
    h1{
      text-align: center;
      color: @presqueMauve;
      margin-top: 65px;
      font-size: 100px;
      .writingH1Concept();
      text-transform: none;
      padding-bottom: 20px;
    }
    img{
      padding-bottom: 20%;
    }
    p{
      text-align: justify;
      color: @presqueTurquoise;
      margin-top: 75px;
      padding-bottom: 100px;
    }
  }
 .patissiere{
   background:url('../images/pat_bg.png');
   background-attachment: fixed;
   background-position: center center;
   background-size: cover;
   -webkit-background-size: cover; /* pour Chrome et Safari */
   -moz-background-size: cover; /* pour Firefox */
   -o-background-size: cover; /* pour Opera*/
   padding-bottom: 100px;
   .patOne{
     color: @presqueMauve;
     font-size: 60px;
     text-align: center;
     margin-bottom: 0;
     padding-bottom: 0;
   }
   .patTwo{
     color: @presqueMauve;
     font-size: 90px;
     text-align: center;
     margin-top: 0;
     strong{
       font-size: 110px;
     }
   }
   img{
     width: 150px;
     height: 200px;
     display: block;
     margin-left: auto;
     margin-right: auto
   }
 }
}

footer{
  height: 460px;
  background: @presqueTurquoise;
  .containerFooter{
    width: 100%;
    height: 320px;
    background: @grisTresClaire;
    .nav{
      .menu-item{
        margin-top: 50px;
        width: 25%;
        display: block;
        float: left !important;
        a{
          text-align: center;
          color: @pourpre;
          text-transform: uppercase;
          font-size: 12px;
        }
      }
    }
  }
}

.contact{
  padding-bottom: 100px;
  .container{
    .patOne{
      color: @presqueMauve;
      font-size: 60px;
      text-align: center;
      margin-bottom: 0;
      padding-bottom: 0;
    }
    .patTwo{
      color: @presqueMauve;
      font-size: 90px;
      text-align: center;
      margin-top: 0;
    }
    form{
      width: 100%;
      margin-top: 30px;
      input{
        width: 100%;
        margin-top: 20px;
        height: 50px;
        padding-left: 10px;
        border-radius: 10px;
        border: none;
      }
      textarea{
        width: 100%;
        margin-top: 20px;
        height: 150px;
        padding: 10px;
        border-radius: 10px;
        border: none;
      }
      button{
        background: @pourpre;
        color: @blanc;
        margin-top: 20px;
        float: right;
      }
    }
  }
}


.lesPatissiere{
  padding: 50px;
  .patOne{
    color: @presqueMauve;
    font-size: 60px;
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 0;
    .writingH1Concept();
    text-transform: none;
  }
  .patTwo{
    color: @presqueMauve;
    font-size: 90px;
    text-align: center;
    margin-top: 0;
    .writingH1Concept();
    text-transform: none;
    strong{
      font-size: 110px;
    }
  }
  img{
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto
  }
}

/* woocommerce boutique*/
#content{
  padding-top: 20px;
  width:60%;
  margin-left: 20%;
  .entry-header{
    background: none;
    .entry-title{
      text-transform: none;
      padding-bottom: 30px;
      padding-top: 0;
    }
  }
  .entry-meta{
    display: none;
  }
  .woocommerce{
    .shop_table{
      width: 100%;
      .actions{
        padding-top: 20px;
        .coupon{
          padding-bottom: 20px;
        }
      }
    }
    .cart-collaterals{
      padding-top: 20px;
      padding-bottom: 20px;
      .cart_totals{
        h2{
          text-align: left;
          padding-top: 20px;
          padding-bottom: 20px;
        }
        tr{
          padding-top: 10px;
          padding-bottom: 10px;
          height: 30px;
          th{
            width: 300px;
          }
        }
      }
      .shipping_calculator{
        h2{
          text-align: left;
          padding-top: 50px;
          padding-bottom: 20px;
        }
        p{
          padding-top: 10px;
          padding-bottom: 10px;
          height: 45px;
        }
      }
    }
  }
  .woocommerce-result-count {
    display: none;
  }
  .woocommerce-ordering {
    text-align: center;
    padding: 30px 0;
  }
  h1{
    font-size:30px;
    font-weight: lighter;
    color:#000000;
    text-align: center;
    position:relative;
    clear: both;
    .writingH1Concept();
    color: @presqueMauve;
    padding-top: 20px;
    .woocommerce-result-count {
      margin-left: 20%;
    }
  }
  
}
.products {
  text-align: center;
  padding-bottom: 50px;
  li{
    display: inline-block;
    padding: 10px 20px;
    &:first-child{
      margin-left:30px;
    }
    &:last-child{
      margin-right: 30px;
    }
    .price{
      float: left;
      width: 100%;
      margin: auto;
      padding: 8px 0;
    }
  }
  h3{
    padding-top:8px;
    text-align: center;
    color: @presqueMauve;
  }
  p{
    margin-left:20%;
  }
  img{
    border-radius: 90px;
  }
}
/* woocommerce panier/commande*/
.entry-header{
  background: none;
  .entry-title{
    text-transform: none;
    padding-bottom: 30px;
  }
}

/**********************************************
                  RESPONSIVE
**********************************************/

@media only screen and (max-width:980px){
    .container {
      width: 90% !important;
    }

    header {
      height: 50%;
    }

    footer .containerFooter .nav .menu-item a {
      line-height: 20px;
    }
}

@media only screen and (max-width:360px){
    .homepage .concept h1 {
      font-size: 50px;
    }

    .homepage .patissiere .patOne, .contact .container .patOne {
      font-size: 30px;
    }

    .homepage .patissiere .patTwo, .contact .container .patTwo {
      font-size: 40px;
    }

    .homepage .patissiere .patTwo strong {
      font-size: 60px;
    }

    header .nav .menu-item a, .header2 .nav .menu-item a {
      font-size: 15px;
    }

    header .nav .menu-item, .header2 .nav .menu-item {
      margin-top: 30px;
      width: 100%;
    }
}